body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5); /* Hintergrundfarbe für den gesamten Body */
    color: white; /* Standardfarbe für Text */
}

h1 {
    color: white; /* Überschriftsfarbe */
}

#login-form {
    margin-bottom: 20px; /* Abstand unterhalb des Login-Formulars */
}

#admin-panel {
    max-width: 600px;
    margin: auto; /* Zentriert das Admin Panel horizontal */
}

#admin-panel button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#add-person {
    margin-bottom: 20px; /* Abstand unterhalb des Bereichs zum Hinzufügen einer Person */
}

#death-counters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Zentriert die Todeszähler horizontal */
}

.death-counter {
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Schatten für die Todeszähler */
}

.death-counter h2 {
    margin: 0;
    font-size: 20px;
}

.death-counter .count {
    font-size: 40px;
    margin: 10px 0;
}

button {
    background-color: #4CAF50; /* Hintergrundfarbe für Buttons */
    color: white; /* Schriftfarbe für Buttons */
    border: none;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    opacity: 0.8; /* Änderung der Deckkraft bei Hover */
}
